@import url("./common.css");
.header {
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
}
.main-container {
    margin-top: 35px;
}
.gallery-section {
    height: 60vh;
    position: relative;
}

.gallery-img-container:nth-child(odd) {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
}
.gallery-img-container:nth-child(even) {
    padding-left: 0.25rem;
}
.gallery-img-container:nth-last-child(-n + 2) {
    padding-top: 0.5rem;
}
.more-gallery {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: #fff;
    border: 1px solid #000;
    padding: 7px 15px !important;
    border-radius: 8px;
    cursor: pointer;
}
.view-more-btn {
    font-size: 0.875rem;
    font-weight: 500;
    color: #000;
}
